@font-face {
    font-family: "OpenSans";
    src: url(
        "../resources/OpenSans.ttf"
    ) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../resources/static/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "OpenSans", Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Navigation bar styles */
nav{
    background-color: #FFF;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

nav h3{
    color: #1a6e00;
}

nav li{
    display: inline-block;
    list-style: none;
    color: black;
    margin: 1rem;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #40b61d;
    transition: color 0.1s ease-in;
}

/* Intro gradient styles */
.intro{
    background-image: linear-gradient(to right, #00410c, #001657);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
    gap: 1rem;
    padding: 10rem 0 6rem 0;
}

.intro h1{
    font-size: 6rem;
    font-family: "OpenSansBold", Arial, sans-serif;
}

.intro h4{
    color: #dcffd1;
    font-size: 2rem;
}

/* Climate styles */
.climate{
    background-color: #e4ebff;
    color: black;
    padding: 6rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.climate h2{
    color: #19378f;
    font-size: 2.3rem;
}

.climate-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
}

.climate-text p{
    color: #4f4f4f;
    font-size: 1.6rem;
    text-align: center;
}

.climate-text2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.climate-text2 img{
    width: 40vw;
    border-radius: 30px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.climate-text2 p{
    color: #4f4f4f;
    font-size: 1.6rem;
}

/* Causes styles */
.causes{
    background-color: #e9ecf5;
    padding: 6rem;
}

.causes-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}

.causes-text h3{
    color: #000000;
    font-size: 2.3rem;
}

.causes-text p{
    color: #4f4f4f;
    font-size: 1.6rem;
}

.causes-cards{
    display: grid;
    gap: 30px;
}

.card{
    width: 20vw;
    background-color: #fff;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card h4{
    font-size: 1.8rem;
}